h1, .description, h3 {
    color: crimson;
    font-family: "Brush Script MT", cursive;
}

img {
    height: auto;
    width: 400px;
}

/*.picture {
    text-align: center;
}
*/
ul, ol, p {
    font-family: cursive;
    font-weight: 400;
    color: white;
    
}
body {
    background-color: darkcyan;
}